{% load static %}
{% with url=request.resolver_match.url_name %}
<header class="header" data-header>
  <div class="container">
    <div class="header__bar">
      <a class="brand" href="{% url 'home' %}">
        <img class="brand__logo" src="{% static 'img/logo-sm.webp' %}" alt="" width="44" height="43">
        <span class="brand__text">
          <span class="brand__name">Байтур</span>
          <span class="brand__sub">кымызолечебница</span>
        </span>
      </a>

      <nav class="nav" data-nav aria-label="Основное меню">
        <a class="nav__link{% if url == 'about' %} is-active{% endif %}" href="{% url 'about' %}">О нас</a>
        <a class="nav__link{% if url == 'kymyz' %} is-active{% endif %}" href="{% url 'kymyz' %}">Кымызолечение</a>
        <a class="nav__link{% if url == 'rooms' or url == 'room_detail' %} is-active{% endif %}" href="{% url 'rooms' %}">Номера</a>
        <a class="nav__link{% if url == 'services' %} is-active{% endif %}" href="{% url 'services' %}">Услуги</a>
        <a class="nav__link{% if url == 'prices' %} is-active{% endif %}" href="{% url 'prices' %}">Цены</a>
        <a class="nav__link{% if url == 'gallery' %} is-active{% endif %}" href="{% url 'gallery' %}">Галерея</a>
        <a class="nav__link{% if url == 'reviews' %} is-active{% endif %}" href="{% url 'reviews' %}">Отзывы</a>
        <a class="nav__link{% if url == 'contacts' %} is-active{% endif %}" href="{% url 'contacts' %}">Контакты</a>
        <div class="nav__mobile-extra">
          <a class="btn btn--primary btn--block" href="{% url 'booking' %}">Забронировать</a>
          <a class="nav__phone" href="{{ site.phone_href }}"><svg class="icon"><use href="#i-phone"/></svg>{{ site.phone }}</a>
          <span class="nav__season">{{ site.season }}</span>
        </div>
      </nav>

      <div class="header__actions">
        <a class="icon-btn header__phone" href="{{ site.phone_href }}" aria-label="Позвонить: {{ site.phone }}"><svg class="icon"><use href="#i-phone"/></svg></a>
        <a class="btn btn--primary header__cta" href="{% url 'booking' %}">Забронировать</a>
        <button class="burger" type="button" data-burger aria-label="Меню" aria-expanded="false">
          <span></span><span></span>
        </button>
      </div>
    </div>
  </div>
</header>
{% endwith %}
