{% load humanize assets %}
<article class="room-card reveal">
  <a class="room-card__media" href="{{ room.get_absolute_url }}">
    <img src="{{ room.image_url }}" srcset="{{ room.image_url|srcset }}" sizes="(max-width: 720px) 92vw, (max-width: 1080px) 46vw, 400px" alt="" loading="lazy">
    <span class="room-card__tag">{{ room.get_kind_display }}</span>
  </a>
  <div class="room-card__body">
    <h3 class="room-card__title"><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></h3>
    <p class="room-card__text">{{ room.short_description }}</p>
    <ul class="room-card__meta">
      <li><svg class="icon"><use href="#i-users"/></svg>до {{ room.capacity }} гостей</li>
      <li><svg class="icon"><use href="#i-bed"/></svg>{{ room.beds }}</li>
    </ul>
    <div class="room-card__footer">
      {% if room.min_price %}
        <div class="price">
          <span class="price__value">от {{ room.min_price|intcomma }} сом</span>
          <span class="price__unit">сутки с питанием и кымызом</span>
        </div>
      {% endif %}
      <a class="link-arrow" href="{{ room.get_absolute_url }}">Подробнее<svg class="icon"><use href="#i-arrow"/></svg></a>
    </div>
  </div>
</article>
