{% load humanize %}
<article class="room-card reveal spot" data-tilt>
  <a class="room-card__media" href="{{ room.get_absolute_url }}">
    <img src="{{ room.image_url }}" alt="{{ room.name }}" loading="lazy">
    <span class="room-card__tag glass">{{ room.get_kind_display }}</span>
    {% if room.min_price %}<span class="room-card__price glass"><small>от</small>{{ room.min_price|intcomma }} <small>сом</small></span>{% endif %}
  </a>
  <div class="room-card__body">
    <h3 class="room-card__title"><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></h3>
    <p class="room-card__text">{{ room.short_description }}</p>
    <ul class="room-card__meta">
      <li><svg class="icon"><use href="#i-users"/></svg>до {{ room.capacity }}</li>
      <li><svg class="icon"><use href="#i-bed"/></svg>{{ room.beds }}</li>
    </ul>
    <a class="room-card__link" href="{{ room.get_absolute_url }}"><span>Подробнее</span><svg class="icon"><use href="#i-arrow"/></svg></a>
  </div>
</article>
